---
---
@charset "utf-8";

@import 'normalize';
@import 'fonts';
@import 'icons';
@import 'syntax-highlight';
@import 'typography';
@import 'navbar';
@import 'util';

body {
  font-family: 'Lato', sans-serif;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  height: 100vh;
  background-color: #303133;
  // color: #efefef;
  color: #bebebe;
}

h1,h2,h3,h4 {
  color: #c9c9c9;
}

code {
  font-family: 'CamingoCode', monospace;
  background-color: #242426;
  font-size: 86%;
  border-radius: .2rem;
  margin: 0 .1rem;
  padding: .1rem .2rem;
  white-space: nowrap;
}

h1 code,
h2 code,
h3 code,
h4 code {
  // white-space: pre-wrap !important;
  border-radius: .1rem;
  margin: 0 .1rem;
  padding: .05rem .1rem;
}


h1,
h2,
h3,
h4 {
  word-wrap: normal;
  hyphens: none;
}


pre > code {
  border-radius: 0;
  display: block;
  padding: 1rem 0.5rem;
  overflow-x: scroll;
  white-space: pre;
}

a {
  color: #d3d3d3;
  background-color: transparent;
  outline: 0;
  text-decoration: none;
}
a:hover {
}

.bg-222 {
  background-color: #222;
}
